@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #fff;
}
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #526485;
  padding: 2rem;
  border-radius: 20px;
}

.container {
  padding: 0 16px;
  color: white;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(204, 204, 204);
}



.title-container{
  position: absolute;
  top: 0;
  padding-top: 5rem;
}



.mockup-container{
  width: 100%;
  height: 100%;
  text-align: center;
}

.mockup-container img {
  width: 80%;
  height: auto;
}

.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 1;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay-index
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6a6a6ae3;
  mix-blend-mode: overlay;
}

.overlay-learnmore
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000091;
  mix-blend-mode: overlay;
}

.overlay-solution
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #182135e3;
  mix-blend-mode: overlay;
}

.box-container{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.box{
  box-shadow: rgba(0, 0, 0, 0.61) 0px 5px 15px;
  background-color: #526485;
  color: #fff;
  border-radius: 25px;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.box p{
  font-size: 1.5rem;
}

.box h3{
  font-size: 2rem;
}



.scroll-downs {
  position: absolute;
  top: 85%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 4px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 4px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.17,.67,.69,.08);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  50% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(20px); opacity: 0;}
}

@media screen and (max-width: 769px) {
  .box-container {
      flex-direction: column;
  }
  .box {
      width: 100%;
      margin-bottom: 2rem;
  }
  h2{
    margin-right: 2rem;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1300px) {
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.box:not(:last-child){
  margin-right: 2rem;
}


.text
{
  position: relative;
  z-index: 3;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 6vh;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p
{
  font-size: 3.5vh;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a
{
  display: inline-block;
  font-size:2vh;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover
{
  letter-spacing: 6px;
}

.text .page-text{
  font-size: 4vh;
}

.left-padding{
  padding-left: 2rem;
}

.navlinks{
  float: left;
  padding-left: 2vw;
  padding-right: 2vw;
}

.page{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  top: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 0;
}

.line-right{
  border-right: thick solid #cba54d;
}

.accent-gold{
  color: #cba54d;
}

.accent-darkblue{
  color: #526485;
}

hr{
  color: #111;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

@media screen and (max-width: 768px){
  .header .navlinks-container
  {
    visibility: hidden;
  }
}
